<mat-toolbar class="main-toolbar">
  <a mat-button routerLink="/feed">01Blog</a>
  <a mat-button routerLink="/admin" *ngIf="isAdmin">Admin</a>
  <a mat-button routerLink="/profile" *ngIf="isLoggedIn">My Profile</a>
  <span class="toolbar-spacer"></span>
  <a
    mat-stroked-button
    routerLink="/post/new"
    *ngIf="isLoggedIn && !isOnCreatePostPage"
    class="create-post-btn"
  >
    Create Post
  </a>

  <span class="toolbar-spacer"></span>

  <div *ngIf="isLoggedIn" class="user-actions">
    <a
      mat-icon-button
      routerLink="/notifications"
      class="notification-bell"
      aria-label="View notifications"
    >
      <mat-icon
        matBadge="{{ unreadCount > 0 ? unreadCount : null }}"
        matBadgeColor="warn"
        >notifications</mat-icon
      >
    </a>

    <button mat-button (click)="logout()">Logout</button>
  </div>

  <div *ngIf="!isLoggedIn">
    <a mat-button routerLink="/login">Login</a>
    <a mat-stroked-button color="accent" routerLink="/register">Register</a>
  </div>
</mat-toolbar>
