.profile-header-card, .report-form, .post-card {
  margin-bottom: 24px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-header , h2 {
    margin-left: 2%;
}

.profile-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.report-form {
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}

// Re-add the image styles for the post cards
img[mat-card-image] {
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
}


.post-card {
  margin-bottom: 20px;

  img[mat-card-image] {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
  }

  mat-card-actions {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px 8px;
  }

  .spacer {
    flex-grow: 1;
  }

  span {
    font-size: 14px;
    color: #757575;
  }
  mat-card-content {
      p {
        overflow-wrap: break-word;
        word-wrap: break-word; 
      }
    }
}
.post-card-link {
  text-decoration: none; // Removes the default link underline
  color: inherit;
}

.post-card {
  border: 1px solid transparent; // Transparent border to prevent size shift on hover
  transition: border-color 0.2s ease-in-out;

  &:hover {
    border-color: #3b49df; // A subtle highlight on hover
  }
}

.dark-mode .post-card {
  &:hover {
    border-color: #60a5fa;
  }
}

.post-avatar {
  background-image: url('https://www.gravatar.com/avatar/?d=mp'); // Placeholder avatar
  background-size: cover;
}

.post-card-main-content {
  padding: 16px;
}

.post-summary {
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 16px 0;
    line-height: 1.25;
  }

  p {
    font-size: 1rem;
    color: #575757;
    .dark-mode & {
      color: #d6d6d6;
    }
  }
}

mat-card-actions.stats {
  padding: 0 16px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  
  button {
    margin-right: -8px; // Pull text closer to icon
  }
  
  span {
    font-size: 14px;
    color: #757575;
  }
}
.post-tags {
  display: flex;
  flex-wrap: wrap; // Allows tags to wrap to the next line
  gap: 8px;
  margin-top: 16px;
  padding: 0;

  span {
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 6px;
    color: #575757;
    background-color: transparent; // No background by default
    transition: background-color 0.2s;

    &:hover {
      background-color: #f0f0f0; // Subtle hover effect
      cursor: pointer; // Indicates it could be clickable
    }
  }
}

.dark-mode .post-tags {
  span {
    color: #d6d6d6;
    &:hover {
      background-color: #424242;
    }
  }
}